body {
  background: papayawhip;
}

.players {
  height: 100px;
  width: 100px;
  position: absolute;
}

#blue-square {
  background-color: cornflowerblue;
  top: 50px;
  left: 10px;
}

#red-square {
  background-color: lightcoral;
  top: 250px;
  left: 10px;
}
