body {
  /* background: papayawhip; */
  background-image: url('assets/bones-bg.png');
  background-repeat: repeat;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* align-items: stretch; */
  /* align-content: space-around; */
  font-family: 'Nunito', sans-serif;
  padding: 20px 0 20px 0;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 4em;
  margin: 0 auto 20px auto;
  text-shadow: grey 1px 0 10px;
}

.players {
  height: 100px;
  width: 100px;
  position: relative;
  /* display: flex;
  justify-content: flex-start; */
}

#blue-square {
  /* background-color: #A59ECE; */
  top: 10px;
  /* left: 10px; */
  transform: scaleX(-1);
}

#red-square {
  /* background-color: lightcoral; */
  top: 60px;
  /* left: 10px; */
}

/* header is buttons and page title */
header {
  display: flex;
  align-items: flex-start;
}

.game-buttons {
  margin: 0 auto;
  padding: 30px;
}

button {
  background-color: aquamarine;
  padding: 8px 20px 8px 20px;
  margin: 0 5px 0 5px;
  width: 100px;
  border-radius: 4px;
  border: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button:hover {
  background-color: cadetblue;
}

.race-course {
  background-color: rgb(211,211,211,0.7);
  /* width: 100%; */
  height: 280px;
  margin: 20px 0 20px 0;
  border-right: dashed 10px goldenrod;
  box-sizing: border-box;
  /* padding-right: 30px; */
  /* display: flex;
  justify-content: flex-start; */
}


@keyframes dancing-image {
  0% {
    transform: rotate(-20deg)
  }
  50% {
    transform: rotate(20deg)
  }
  100% {
    transform: rotate(-20deg)
  }
}




/* section is race results and image */
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#directions {
  text-align: center;
}

.title {
  font-size: 20px;
  color: goldenrod;
  font-weight: 900;
  display: inline-block;
  text-align: center;
}

p {
  /* color: #a59ece; */
}

/* Container of Race Info */
.race-info {
  background-color: #fff;
  height: 250px;
  width: 500px;
  display: flex;
  /* flex-flow: row nowrap; */
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */
  /* flex-grow: 1; */
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 0px 5px 3px #ccc;
}

/* Paragraph of Race Results */
#race-results {
  font-size: 2em;
  font-weight: bold;
  margin: -30px 0 0 0;
  /* background-color: #a59ece; */
}

.finish-object {
  display: flex;
  justify-content: center;
  /* align-items: stretch; */
  margin: 25px;
  width: 30%;
}

#randomimage {
  animation: dancing-image 2s 3;
}

@media screen and (max-device-width: 950px) {
  h1 {
    font-size: 2.5em;
  }
  #randomimage {
    height: 150px;
  }
}



/* .classname { */
  /* animation-name: dancing-image; */
  /* animation-duration: 2s; */
  /* animation-iteration-count: 5; */
  /* background-color: pink; */
  /* animation-timing-function: ease; */
/* } */
